label{
	display: block;
	border: 1px solid transparent;
}

label:hover{
	border: 1px solid #ccc;
	transition: all 0.5s ease;
}
input[type="checkbox"] + span {
	color: yellow;
}

input:checked + span{
	color: red;
} 

.description{
	color: green;
}

span.description:before{
	content: '(';
	color: blue;
}

span.description:after{
	content: ')';
}

li:first-child{
	background: blue;
}
li:nth-child(even){
	background: red;
}

a:hover{
	text-decoration: none;
}
a:active{
	background: yellow; 
}

a:visited{
	color: #000;
}

input:focus{
	background: red;
}